<div>
  <div class="main_content background_gradient">
    <div class="content_item_1">
      <h1>Share Your Thoughts with the World</h1>
    </div>
    <div class="content_item_2">
      <h2>
        A platform for open expression—post your ideas, opinions, and stories.
        Join the community and see what others are thinking.
      </h2>
    </div>
  </div>

  <footer class="footer">
    <div>
      <div class="row footer_list">
        <div class="col-md-3 footer_list_item footer_list_item1 text-center">
          <h3>About</h3>
          <ul>
            <li>Pagalavan V</li>
            <li>Full Stack Developer</li>
            <li>2 Years of Experience</li>
            <li>Working at ABC</li>
          </ul>
        </div>
        <div class="col-md-5 footer_list_item footer_list_item2 text-center">
          <h3>Technical Skills</h3>
          <div class="row">
            <div class="col">
              <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>Bootstrap</li>
                <li>JavaScript</li>
                <li>TypeScript</li>
                <li>Angular</li>
              </ul>
            </div>
            <div class="col">
              <ul>
                <li>OOPS</li>
                <li>Node JS</li>
                <li>Express JS</li>
                <li>Nest JS</li>
                <li>Prisma</li>
                <li>Microsoft SQL</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4 footer_list_item footer_list_item3">
          <h3>Contacts and Links</h3>
          <div class="d-flex justify-content-center">
            <ul>
              <li>
                <div class="contact_info row">
                  <div class="contact_icon col-2">
                    <img src="../../assets/icons/phone-solid.svg" alt="phone" />
                  </div>
                  <div class="contact_details col-10">+91 8300622621</div>
                </div>
              </li>
              <li>
                <div class="contact_info row">
                  <div class="contact_icon col-2">
                    <img
                      src="../../assets/icons/envelope-solid.svg"
                      alt="email"
                    />
                  </div>
                  <div class="contact_details col-10 email">
                    pagalavanvetri&#64;gmail.com
                  </div>
                </div>
              </li>
              <li>
                <div class="contact_info row">
                  <div class="contact_icon col-2">
                    <img
                      src="../../assets/icons/linkedin-brands-solid.svg"
                      alt="linked-in"
                    />
                  </div>
                  <div class="contact_details col-10">
                    <a
                      href="https://www.linkedin.com/in/pagalavan-vetrivendhan07"
                      target="_blank"
                      rel="noopener noreferrer"
                    >
                      LinkedIn</a
                    >
                  </div>
                </div>
              </li>
              <li>
                <div class="contact_info row">
                  <div class="contact_icon col-2">
                    <img
                      src="../../assets/icons/github-brands-solid.svg"
                      alt="github"
                    />
                  </div>
                  <div class="contact_details col-10">
                    <a
                      href="https://github.com/Pagalavan7"
                      target="_blank"
                      rel="noopener noreferrer"
                      >GitHub</a
                    >
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright">
      <p>Copyright © 2024 | Postgram, All rights reserved.</p>
    </div>
  </footer>
</div>
